<table id="nav">
    <tr>
        <td>

            <p>About</p>

            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="testimonials.html">Testimonials</a></li>
                <li> <a href="https://wakelet.com/wake/c11bceaf-f186-48b0-806d-b601aa4ea892">Kudos</a> <img src="/images/icons/noun_645403_cc.png"></li>
				<li> <a href="https://www.youtube.com/channel/UCHPAN418xoGcgu2N51C4tWQ">Videos</a></li>
                <li> <a href="trainings.html">Speaker Trainings</a></li>
                <li> <a href="code-of-conduct.html">Code of Conduct</a></li>
            </ul>

        </td>

        <td>

            <p>Speakers</p>

            <ul>
                <li> <a href="https://wakelet.com/wake/e170af75-ed2d-448f-89bf-37f3e10a8183">Speaker Funding &amp; Support</a>
                    <img src="/images/icons/noun_645403_cc.png"></li>
                <li>
                     <a href="/speaker-pay.html">Speaker Pay</a>  
                </li>
                
                <li> <a href="https://wakelet.com/wake/c90aedd2-e16e-401c-8a55-9ca7db790ae4">Tech Women Keynoting</a>
                    <img src="/images/icons/noun_645403_cc.png"></li>
                     
                <li> <a href="https://wakelet.com/wake/ae03fc16-aa6e-4171-91e0-b9dc2be68d49">Tech Girls Speaking</a>
                    <img src="/images/icons/noun_645403_cc.png"></li>
                    
                <li> <a href="/resources-for-speakers.html">Resources for Speakers</a> </li>
            </ul>
        </td>
    </tr>

    <tr>
        <td>

            <p>Advocacy</p>

            <ul>
                <li> <a href="https://wakelet.com/wake/d58240b6-ce84-4acc-82be-4b5e85a67138" target="_blank">Parents, Families, &amp; Youths</a>
                    <img src="/images/icons/noun_645403_cc.png"></li>
                <li> <a href="https://wakelet.com/wake/08764ea8-d394-4f46-9943-6ad192a387af" target="_blank">All-Genders Restrooms</a>
                    <img src="/images/icons/noun_645403_cc.png"></li>
                <li> <a href="https://wakelet.com/wake/2a910b14-f11d-4f85-a2f0-104e5c80ba2e" target="_blank">Spoken Languages</a>
                    <img src="/images/icons/noun_645403_cc.png"></li>
                <li> <a href="https://wakelet.com/wake/3e1436e5-f6f7-4fb4-8ccb-be6d35c05a18" target="_blank">Food &amp; Activities</a>
                
                    <img src="/images/icons/noun_645403_cc.png"></li>
            </ul>
        </td>

        <td>

            <p>More</p>

            <ul>
                <li> <a href="http://twitter.com/callbackwomen"><strong>Follow @callbackwomen</strong></a>
<img src="images/icons/twitter-24.png"></li>
                <li> <a href="eligibility.html">Conference Eligibility</a></li>
                <li> <a href="donate.html">Donate</a></li>
            </ul>

        </td>
    </tr>
</table>
<div style="text-align:center; font-size: .75em; margin-top: 3em">
	<a href="/image-credits.html">Image Credits</a>
</div>
