<nav id="nav" class="row flex-row">
	<div class="col">
		<h3>About</h3>
		<ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="testimonials.html">Testimonials</a></li>
            <li> <a href="https://storify.com/cczona/callbackwomen-appreciations">Kudos <img src="images/icons/storify-icon.jpg" style="height: 10px"></a></li>
            <li> <a href="http://meetup.com/CallbackWomen/">Meetup Group</a></li>
			<li> <a href="https://www.youtube.com/channel/UCHPAN418xoGcgu2N51C4tWQ">Videos</a></li>
            <li> <a href="trainings.html">Speaker Trainings</a></li>
            <li> <a href="code-of-conduct.html">Code of Conduct</a></li>
        </ul>
	</div>
	<div class="col">
		<h3>Speakers</h3>
		<ul>
            <li> <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor">Speaker Funding &amp; Support <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
                </li>
            <li>
                 <a href="/speaker-pay.html">Speaker Pay</a>  
            </li>
            <li> <a href="https://storify.com/cczona/tech-women-give-keynote-addresses-at-tech-conferen">Tech Women Keynoting <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf">Tech Girls Speaking <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="resources-for-speakers.html">Resources for Speakers</a> </li>
        </ul>
	</div>
	<div class="col">
		<h3>Advocacy</h3>
		<ul>
            <li><a href="https://storify.com/cczona/diversity-scholarships-mentoring-at-tech-conferenc" target="_blank">Attendee Diversity <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="https://storify.com/cczona/tech-confs-featuring-family-inclusive-features" target="_blank">Parents, Families, &amp; Youths <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="https://storify.com/cczona/tech-conferences-with-inclusive-restrooms" target="_blank">All-Genders Restrooms <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="https://storify.com/cczona/speaker-travel-funding-pay-talk-development-suppor" target="_blank">Spoken Languages <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="https://storify.com/cczona/inclusive-food-drinks-and-celebrating-at-tech-conf" target="_blank">Food &amp; Activities <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li> <a href="https://storify.com/cczona/importance-of-swag-shirts-for-bodies-of-varied-sha" target="_blank">Shirts <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
            <li><a href="https://storify.com/cczona/a-line-at-the-restroom" target="_blank">Restroom Line Ratio <img src="images/icons/storify-icon.jpg" style="height: 10px"></a>
            </li>
        </ul>
	</div>
	<div class="col">
		<h3>More</h3>
		<ul>
            <li> <a href="http://twitter.com/callbackwomen"><strong>Follow @callbackwomen</strong></a></li>
            <li> <a href="eligibility.html">Conference Eligibility</a></li>
            <li> <a href="https://www.stickermule.com/marketplace/9277-callbackwomen-2">Swag</a></li>
            <li id="navdonate"> <a href="donate.html">Donate</a></li>
        </ul>
	</div>
</nav>
