<ul>
    <li><a href="/">Home</a></li>
    <li><a href="trainings.html">Speaker Trainings</a></li>
    <li><a href="eligibility.html">Conference Eligibility</a></li>
    <li><a href="speaker-pay.html">Speaker Pay</a></li>
    <li><a href="testimonials.html">Testimonials</a></li>
    <li><a href="code-of-conduct.html">Code of Conduct</a></li>
    <!-- more -->
    <li><a href="https://www.youtube.com/channel/UCHPAN418xoGcgu2N51C4tWQ">Videos</a></li>
    <li><a href="https://www.stickermule.com/marketplace/9277-callbackwomen-2">Swag</a></li>
    <li><a href="http://twitter.com/callbackwomen">Follow @callbackwomen</a></li>
    <li id="navdonate"> <a href="donate.html">Donate</a></li>

</ul>

