<ul>
    <li><a href="/">Home</a></li>
    <li><a href="testimonials.html">Testimonials</a></li>
    <li><a href="https://storify.com/cczona/callbackwomen-appreciations">Kudos <img src="images/icons/storify-icon.jpg" style="height: 10px"></a></li>
    <li><a href="http://meetup.com/CallbackWomen/">Meetup Group</a></li>
	<li><a href="https://www.youtube.com/channel/UCHPAN418xoGcgu2N51C4tWQ">Videos</a></li>
    <li><a href="trainings.html">Speaker Trainings</a></li>
    <li><a href="resources-for-speakers.html">Resources for Speakers</a> </li>
    <li><a href="code-of-conduct.html">Code of Conduct</a></li>
    <!-- more -->
    <li> <a href="http://twitter.com/callbackwomen"><strong>Follow @callbackwomen</strong></a></li>
    <li> <a href="eligibility.html">Conference Eligibility</a></li>
    <li> <a href="https://www.stickermule.com/marketplace/9277-callbackwomen-2">Swag</a></li>
    <li id="navdonate"> <a href="donate.html">Donate</a></li>

</ul>

