body
{
    font-size: .95em;
}

.inner {
    width: 90%;
    max-width: 1200px;
}

#branding {
    text-align: center;
    margin: 0 0 1.5em 0;
    position: relative;
    padding: 0;
}
#branding a {
  display: block; position: relative;
}
#branding .logo-menu {
  position: absolute; top:0; left:0; right: 0;
  background:rgba(255,255,255,0.5);
}
#branding .logo-menu a#logo {
	display: inline-block;
}
#branding .logo-menu img {
  margin:0 auto;
  max-width: 600px;
  height: auto;
  width: inherit;
}

#branding .logo-menu #opennav {
	padding: 10px 16px;
	display: inline-block;
  font-size: 20px;
  position: absolute;
  vertical-align: top;
  top:20%;
  left:0;
}
#branding .quote {
  position:absolute; font-weight:bold;
  margin: 0 auto;
  padding:10px 0;
  left:0;
  right: 0;
  top: 40%;
}
#branding .quote h1 {
  font-size: 4rem;
  font-family: 'Poppins', Century Gothic, sans-serif;
  text-shadow: 0px 0px 40px #0d0d0d;
  color:#C7E3F9;
}
#donate {
  text-align: center;
  margin: 0 auto;
}
#donate h3 {
  color:#000;
  margin-bottom: 0.5em;
}

#page-primary-content
{
    float: left;
    width: 65%;
}

#toc
{
    font-size: .8em;
    border: 1px solid grey;
    padding: 1em;
    padding-left: 1em;
    margin-bottom: 3em;
    width: auto;
}

#toc h2
{
    font-size: .8em;
}

#toc ul
{
    margin: 0;
}

#toc ul li
{
    margin: 0;
    list-style: none;
    padding: 0;
}
/* GOOD TO HERE */

#sidebar
{
    float: right;
    width: 30% !important;
    padding-top: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-left: 1em;
}

#twitter-feed
{
/*  DO NOT TRY TO STYLE THIS ELEMENT OR ITS CHILDREN. JUST DON'T  */
}

#page-primary-content h1
{
    font-size: 2.5em;
}

nav
{
    clear: both !important;
    font-size: 100%;
}

/* The side navigation menu */
.sidebarnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0C0C0C; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidebarnav h3 {color: #CE374E; padding: 8px 8px 8px 28px;}
/* The navigation menu links */
.sidebarnav a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s
}

.sidebarnav li {list-style: none; margin: 0; padding: 0;}

/* When you mouse over the navigation links, change their color */
.sidebarnav a:hover, .offcanvas a:focus{
    background-color: #4D7EA8;
    color:#fff;
}

/* Position and style the close button (top right corner) */
.sidebarnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
}

.sidebarnav .closebtn:hover {background: transparent;}

.sidebarnav #navdonate {
  background:#CE374E;
  text-transform: uppercase;}
.sidebarnav #navdonate a {
  color: #fff;
}

#nav ol, #nav p
{
  margin-bottom: 0;
  margin-top: 0;
}

#nav li
{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footnotes
{
  font-size: 85%;
}

.footnotes ol
{
  margin-left: 25px;
  color: gray;
}

.footnotes ol li
{
  list-style: decimal;
}

h2, h3, h4, h5, h6
{
    margin-bottom: 0.4em;
}

/*superscripts*/

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;

  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;

  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;

  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline;
}

sup {
  /* Move the superscripted text up */
  top: -0.5em;
}

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  #branding .logo-menu #opennav {top: 0; font-size: 18px;}
  #branding .logo-menu img {max-width: 500px;}
  #branding .quote h1 {font-size: 3.5rem;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #branding .logo-menu #opennav {top: 0; font-size: 16px;}
  #branding .logo-menu img {max-width: 400px;}
  #page-primary-content {width: 100%; float: none;}
  #sidebar {width: 100% !important; float: none;}
  #sidebar #twitter-feed {text-align: center;}
  #branding .quote {
    background-color: #62A0D6;
    margin: 0;
    bottom: 0;
    top: auto;
    padding: 16px 10px;
  }
  #branding .quote h1 {
    color: #fff;
    text-shadow: none;
    font-size: 2.5rem;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #branding .logo-menu img {max-width: 250px;}
  #branding .logo-menu {float:right; padding: 6px;}
  #branding .quote {padding:10px;}
  #branding .quote h1 {
    font-size: 1.7rem;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}